{% extends "flip_card.html" %}
{% block content %}
  <br>
  <!--<div class="jumbotron">
    <h1 class="display-4">Predicted Price before:</h1>
    <span class="color-text-a">$ {{property_dict.prediction}}</span>
    <h1 class="title-single">Predicted Price after:</h1>
    <span class="color-text-a">$ {{property_dict.prediction_cnn}}</span>
  </div>
  <br>
  <div class="container">
    <div class="card" style="width: 18rem;" >
      <div class="card-body">
        <h2><a class="card-title">{{property_dict.address}}</a></h2>
        <img src={{property_dict.image_url}} class="card-img-top" alt="...">
        <h4 class="card-info-title">Area</h4>
                        <span>{{property_dict.lotsize}}m
                          <sup>2</sup>
                        </span>
        <p><h4 class="card-info-title">Beds</h4>
          <span>{{property_dict.beds}}</span></p>
        <p><h4 class="card-info-title">Baths</h4>
        <span>{{property_dict.baths}}</span></p>
        <a><h4 class="card-info-title">Garages</h4>
          <span>{{property_dict.garages}}</span></a>
      </div>
    </div>
    <br>                       
  </div> -->

  <div class="grid-wrapper">
  
  <!-- Card -->
  <div class="card-container box">
    <div class="card-flip">
      <!-- Card Front -->
      <div class="card front">
        <img src={{property_dict.image_url}} class="card-img-top img-fluid" alt="listing photo">
          <div class="card-block">
            <h4 class="card-title">Address</h4>
                <p class="card-text">{{property_dict.address}}</p>
                  <p class="card-text"><small class="text-muted">Prediction: {{"$%0.2f"|format(property_dict.prediction_cnn|float)}} </small></p>
            </div>
      </div>
      <!-- End Card Front -->
  
      <!-- Card Back -->
      <div class="card back">
        <div class="card-header warning-color"></div>
          <div class="card-block text-center">
            <h4 class="card-title">Beds</h4>
            <p class="card-text"><a href="#" class="rating">{{property_dict.beds}}</a></p>
            <h4 class="card-title">Baths</h4>
            <p class="card-text"><a href="#" class="rating">{{property_dict.baths}}</a></p>
            <a href="#" class="btn orange">AI Feature</a>
          </div>
              <img class="movie" src={{property_dict.cam_img_url}} alt="CNN image">
        </div>
        <!-- End Card Back -->
    </div>
  </div>
  <!-- End Card -->
  
  </div>


  
{% endblock %}



