{% extends 'layout.html' %}
{% block title %}Image Classification{% endblock %}

{% block body %}
<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">We Predict the Price of your home!</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= About Section ======= -->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 position-relative">
          <div class="about-img-box">
            <img src="static/assets/img/property-2.jpg" alt="" class="img-fluid">
          </div>
          <div class="sinse-box mt-4">
            <h3 class="sinse-title">RealEstateCV
              <span></span>
              <br> Because you need to know
            </h3>
            <p>AI & Machine Learning</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Image Classification Form ======= -->
  <div class="container mt-4">
    <h2 class="h3 font-weight-bold">Image Classification Form</h2>
    {% if prediction %}
    <h2 class="h4 font-weight-bold">Predicted class: {{ prediction }}</h2>
    <img src="{{ image_path }}" alt="Uploaded image" class="img-fluid mt-2">
    {% endif %}
    <form action="{{ url_for('predict_image') }}" method="post" enctype="multipart/form-data" class="bg-white p-4">
      <div class="form-group mb-4">
        <label for="image" class="text-gray-700">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" class="form-control-file" required />
      </div>
      <button type="submit" class="btn btn-primary">
        Classify Image
      </button>
    </form>
  </div>
</main><!-- End #main -->
{% endblock %}
