<!DOCTYPE html>
<html lang="en">
<head>
	<title>ottoHi</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="forvava.com">
	<meta name="description" content="ottoHi">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Favicon -->
	<!-- <link rel="shortcut icon" href="static/assets/images/favicon.ico"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/images/favicon.ico')}}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/font-awesome/css/all.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/font-awesome/css/all.min.css')}}">	
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/choices/css/choices.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/choices/css/choices.min.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/flatpickr/css/flatpickr.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/flatpickr/css/flatpickr.min.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/stepper/css/bs-stepper.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/stepper/css/bs-stepper.min.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/quill/css/quill.snow.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/quill/css/quill.snow.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/dropzone/css/dropzone.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/dropzone/css/dropzone.css')}}">

	<!-- Theme CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/css/style.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">

</head>

<body>


<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Page Banner START -->
<section class="pb-0">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="fs-2 mb-2">Add New Listing</h1>
				<p class="mb-0">Start your Creation Now.</p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Steps START -->
<section>
	<div class="container">
		<div id="stepper" class="bs-stepper stepper-outline">
			<!-- Step Buttons START -->
			<div class="bs-stepper-header" role="tablist">
				<!-- Step 1 -->
				<div class="step" data-target="#step-1">
					<div class="text-center">
						<button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger1" aria-controls="step-1">
							<span class="bs-stepper-circle">1</span>
						</button>
						<h6 class="bs-stepper-label d-none d-md-block">Basic Information</h6>
					</div>
				</div>
				<div class="line"></div>
			</div>
			<!-- Step Buttons END -->

			<!-- Step content START -->
			<div class="bs-stepper-content p-0 pt-4 pt-md-5">
				<div class="row g-4">

					<!-- Main content START -->
					<div class="col-12">
						<form action="{{ url_for('listings.upload') }}" method="post" enctype=multipart/form-data>
							{{form.hidden_tag()}}
							<!-- Step 1 content START -->
							<div id="step-1" role="tabpanel" class="content fade" aria-labelledby="steppertrigger1">
								<div class="vstack gap-4">
									<!-- Title -->
									<h4 class="mb-0">Basic Information</h4>

									<!-- Upload image START -->
									<div class="card shadow">
										<!-- Card header -->
										<div class="card-header border-bottom">
											<!-- Title -->
											<h5 class="mb-0">Upload Images</h5>
										</div>
			
										<!-- Card body START -->
										<div class="card-body">
											<div class="row g-3">
												<!-- Thumbnail image -->
												<div class="col-12">
													<label class="form-label">Upload thumbnail image *</label>
													<!-- <input class="form-control" type="file" name="thumbnail_image" id="thumbnail_image" accept="image/gif, image/jpeg, image/png, image/jpg"> -->
													<input class="form-control" type="file" name="thumbnail_image" id="thumbnail_image" accept="image/gif, image/jpeg, image/png, image/jpg">
													<p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG, and PNG. Large images will be cropped to 4:3 to fit our thumbnails/previews.</p>
												</div>
												
												<!-- Image Gallery -->
												<!--<div class="col-12">
													<label class="form-label">Upload image gallery *</label>
													<div class="dropzone dropzone-custom" type="files" name="gallery_image" multiple id="gallery_image" data-dropzone='{"maxFiles": 5, "addRemoveLinks": false}' >
														<div class="dz-message needsclick">
															<i class="bi bi-upload display-3"></i>    
															<p>Drop files here or click to upload.</p>
														</div>
														<div class="dz-preview row g-4">
															<div class="col-xl-2 col-md-4 col-sm-6">
																<div class="card p-2 mb-0 shadow-none border position-relative h-100">
																	
																	<img data-dz-thumbnail src="#" class="rounded bg-light" alt="">
																	
																	<div class="mt-2">
																		<a href="javascript:void(0);" class="text-muted fw-bold" data-dz-name></a>
																		<p class="mb-0 small" data-dz-size></p>
																	</div>
																	
																	<div class="position-absolute top-0 start-100 translate-middle">
																		<a href="#!" class="btn btn-danger rounded-circle icon-sm p-0" data-dz-remove>
																			<i class="fas fa-times"></i>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div> 
													<p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG, and PNG. Large images will be cropped to 4:3 to fit our thumbnails/previews.</p>
												</div> -->
											</div>
										</div>
										<!-- Card body END -->
									</div>
									<!-- Upload image END -->	
									<div class="hstack gap-2 flex-wrap justify-content-between">
										<button type="submit" name="submit" value="submit" class="btn btn-success mb-0">Add Listing</button>
									</div>
									<!-- Step 1 content END -->									
								</div>
							</div>
						</form>
					</div>
					<!-- Main content END -->
				</div>						
			</div>
			<!-- Step content END -->
		</div>
	</div>
</section>
<!-- =======================
Steps END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">

			<!-- Widget -->
			<div class="col-md-4">
				<div class="text-center text-md-start mb-3 mb-md-0">
					<a href="{{ url_for('core.start') }}"> <img class="h-30px" src="static/assets/images/about/otto.png" alt="logo"> </a>
				</div> 
			</div>
			
			<!-- Widget -->
			<div class="col-md-4">
				<div class="text-muted text-primary-hover"> Copyrights ©2023 Forvava</div>
			</div>

			<!-- Widget -->
			<div class="col-md-4">
				<ul class="list-inline mb-0 text-center text-md-end">
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-facebook"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-instagram"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-linkedin-in"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-twitter"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<!-- <script src="static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
<!-- Vendors -->
<!-- <script src="static/assets/vendor/choices/js/choices.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/choices/js/choices.min.js')}}"></script>
<!-- <script src="static/assets/vendor/flatpickr/js/flatpickr.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/flatpickr/js/flatpickr.min.js')}}"></script>
<!-- <script src="static/assets/vendor/stepper/js/bs-stepper.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/stepper/js/bs-stepper.min.js')}}"></script>
<!-- <script src="static/assets/vendor/quill/js/quill.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/quill/js/quill.min.js')}}"></script>
<!-- <script src="static/assets/vendor/dropzone/js/dropzone.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/dropzone/js/dropzone.js')}}"></script>

<!-- ThemeFunctions -->
<!-- <script src="static/assets/js/functions.js"></script> -->
<script src="{{url_for('static', filename='assets/js/functions.js')}}"></script>

</body>
</html>