{% extends "layouts/index_header.html" %}
{% block content %}
			

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Main Banner START -->
<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4 align-items-center">				
			<div class="col-lg-7">
				<!-- Title -->
				<br>
				<br>
				<br>
				<h1 class="mb-4 display-5">List Your Land at <span class="text-primary">ottoHI</span></h1>
				<!-- Info -->
				<p class="mb-4">get ready to reforest the earth on your own terms</p>
				<!-- Button -->
				<a href="{{ url_for('listings.add_listing') }}" class="btn btn-primary-soft mb-4">Add Listing <i class="fa-solid fa-arrow-right-long fa-fw"></i></a>
				<!-- List -->
				<h6 class="fw-normal mb-1">Create New Listing</h6>
				<ul class="list-group list-group-borderless mb-0 small">
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>More than 500 creations of higher purpose fulfilled. 
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>More than 1000 connected to do good.
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>More than 2000 plants to community garden.
					</li>
				</ul>
			</div>
			<!-- Image -->
			<div class="col-lg-5 text-center">
				<img src="{{url_for('static', filename="assets/images/element/join-us.svg")}}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Counter START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-4 align-items-center">
			<!-- Title -->
			<div class="col-sm-6 col-md-3">
				<h4 class="mb-0">The World's Largest Community Garden</h4>
			</div>
			
			<!-- Counter item -->
			<div class="col-sm-6 col-md-3">
				<div class="card card-body text-center bg-light">
					<div class="d-flex justify-content-center">
						<h3 class="purecounter text-orange mb-0" data-purecounter-start="0" data-purecounter-end="1"	data-purecounter-delay="300">0</h3>
						<span class="h3 text-orange mb-0">M+</span>
					</div>
					<h6 class="fw-normal mb-0">Total Creations</h6>
				</div>
			</div>
			
			<!-- Counter item -->
			<div class="col-sm-6 col-md-3">
				<div class="card card-body text-center bg-light">
					<div class="d-flex justify-content-center">
						<h3 class="purecounter text-info mb-0" data-purecounter-start="0" data-purecounter-end="51"	data-purecounter-delay="300">0</h3>
						<span class="h3 text-info mb-0">M+</span>
					</div>
					<h6 class="fw-normal mb-0">Total Farmhands</h6>
				</div>
			</div>
			
			<!-- Counter item -->
			<div class="col-sm-6 col-md-3">
				<div class="card card-body text-center bg-light">
					<div class="d-flex justify-content-center">
						<h3 class="purecounter text-primary mb-0" data-purecounter-start="0" data-purecounter-end="41"	data-purecounter-delay="300">0</h3>
						<span class="h3 text-primary mb-0">M+</span>
					</div>
					<h6 class="fw-normal mb-0">Plants in the Garden</h6>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Counter END -->

<!-- =======================
Benefits START -->
<section class="pt-0 pt-md-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 p-sm-5 rounded-3">
					<!-- Title -->
					<h2 class="fs-3 text-center mb-4 mb-sm-5">Why OttoHI</h2>

					<div class="row g-4">
						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
							 <div><img src="{{url_for('static', filename="assets/images/element/18.svg")}}" class="h-70px mb-3" alt=""></div> 
								<h5>Self Selficiency</h5>
								<p class="mb-0">Food Security is Survival.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
								<div><img src="{{url_for('static', filename="assets/images/element/21.svg")}}" class="h-70px mb-3" alt=""></div>
								<h5>Less Waste</h5>
								<p class="mb-0">When you own grow it, you value it.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
								<div><img src="{{url_for('static', filename="assets/images/element/19.svg")}}" class="h-70px mb-3" alt=""></div>
								<h5>Parity</h5>
								<p class="mb-0">Food inflation where millions go to Ag CEO's or ...</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
								<div><img src="{{url_for('static', filename="assets/images/element/20.svg")}}" class="h-70px mb-3" alt=""></div>
								<h5>Creation</h5>
								<p class="mb-0">Fulfills the Soul</p>
							</div>
						</div>
						<!-- Card END -->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Benefits END -->

<!-- =======================
Testimonials START -->
<section>
	<div class="container">
		<div class="row justify-content-between mb-5">
			<!-- Title -->
			<div class="col-md-6">
				<h2 class="mb-0">What ottoHI'ers say...</h2>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-3">

			</div>


			<!-- Testimonials START -->
			<div class="col-lg-9">
				<div class="tiny-slider arrow-round arrow-blur arrow-hover">
					<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
						<!-- Slider item START -->
						<div>
							<div class="row g-4">
								<!-- Image -->
								<div class="col-md-4">
									<img src="{{url_for('static', filename="assets/images/team/09.jpg")}}" class="rounded" alt="">
								</div>
								<!-- Content -->
								<div class="col-md-8">
									<div class="d-flex">
										<!-- Quotation -->
										<span class="display-5 opacity-2"><i class="bi bi-quote"></i></span>
										<!-- Content -->
										<div class="ms-3">
											<h5 class="mb-3 text-primary">ottoHI is the best</h5>
											<p class="mb-3">Side income to support my family with much food inflation going on.</p>
											
											<h6 class="mb-0">Fil Lee</h6>
											<small>Taco Bell Waiter</small>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- Slider item end -->

						<!-- Slider item START -->
						<div>
							<div class="row g-4">
								<!-- Image -->
								<div class="col-md-4">
									<img src="{{url_for('static', filename="assets/images/team/06.jpg")}}" class="rounded" alt="">
								</div>
								<!-- Content -->
								<div class="col-md-8">
									<div class="d-flex">
										<!-- Quotation -->
										<span class="display-5 opacity-2"><i class="bi bi-quote"></i></span>
										<!-- Content -->
										<div class="ms-3">
											<h5 class="mb-3 text-primary">ottoHI got me back to culture</h5>
											<p class="mb-3">Formed a community where I grew up.</p>
											
											<h6 class="mb-0">Fred Im</h6>
											<small>CEO of Forvava</small>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- Slider item end -->
						
					</div>
				</div>	
			</div>
			<!-- Testimonials END -->
		</div>

	</div>
</section>
<!-- =======================
Testimonials END -->

<!-- =======================
Action box START -->
<section>
	<div class="container">
		<div class="row g-4">
			<div class="col-12">
				<!-- Action box START -->
				<div class="card card-body shadow p-4">
					<div class="row g-4 justify-content-between align-items-center">
						<!-- Image -->
						<div class="col-sm-3 col-lg-2">
							<img src="{{url_for('static', filename="assets/images/element/22.svg")}}" alt="">
						</div>

						<!-- Title and content -->
						<div class="col-sm-9 col-lg-6 col-xl-7">
							<h4>Why did you choose us</h4>
							<p class="mb-0">focus on Land, Sea, Air to ground you.</p>
						</div>

						<!-- Button -->
						<div class="col-lg-3 col-xxl-2 d-grid">
							<a href="#" class="btn btn-primary mb-0">Become an ottoHI Farmer</a>
						</div>
					</div>
				</div>
				<!-- Action box END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Action box END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">
			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>	
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{{url_for('static', filename="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js")}}"></script>

<!-- Vendors -->
<script src="{{url_for('static', filename="assets/vendor/tiny-slider/tiny-slider.js")}}"></script>
<script src="{{url_for('static', filename="assets/vendor/purecounterjs/dist/purecounter_vanilla.js")}}"></script>

<!-- ThemeFunctions -->
<script src="{{url_for('static', filename="assets/js/functions.js")}}"></script>

</body>
</html>

{% endblock %}