<!DOCTYPE html>
<html lang="en">
<head>
	<title>Otto HI</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ottoHI">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>


	<!-- Favicon -->
	<!-- <link rel="shortcut icon" href="static/assets/images/favicon.ico"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/images/favicon.ico')}}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/font-awesome/css/all.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/font-awesome/css/all.min.css')}}">	
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">

	<!-- Theme CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="static/assets/css/style.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">


</head>

<body class="dashboard">

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Page content START -->
<section class="overflow-hidden pt-0 pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center mx-auto">
				<!-- SVG decoration START -->
				<img src="{{url_for('static', filename='assets/images/element/congratulations.svg')}}" class="h-300px my-4" alt="">
				<!-- SVG decoration END -->
				
				<!-- Title -->
				<h1 class="fs-3">Your listing has been submitted successfully. 🎉</h1>
				<!-- Info -->
				<p>Go for it.</p>

				<!-- Buttons -->
				<a href="{{ url_for('listings.results') }}" class="btn btn-primary mb-5 me-1">Home</a>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->

<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<!-- <script src="static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>

<!-- ThemeFunctions -->
<!-- <script src="static/assets/js/functions.js"></script> -->
<script src="{{url_for('static', filename='assets/js/functions.js')}}"></script>

</body>
</html>